/.idea/.idea.Algo_Training/.idea/.gitignore
/Disjoint_Set/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Number_of_Provinces/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Algo_Training.sln
/Disjoint_Set/obj/Debug/net6.0/apphost.exe
/Number_of_Provinces/obj/Debug/net6.0/apphost.exe
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.AssemblyInfo.cs
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.AssemblyInfoInputs.cache
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.assets.cache
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.csproj.AssemblyReference.cache
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.csproj.CoreCompileInputs.cache
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.csproj.FileListAbsolute.txt
/Disjoint_Set/obj/Disjoint_Set.csproj.nuget.dgspec.json
/Disjoint_Set/obj/Disjoint_Set.csproj.nuget.g.props
/Disjoint_Set/obj/Disjoint_Set.csproj.nuget.g.targets
/Disjoint_Set/bin/Debug/net6.0/Disjoint_Set.deps.json
/Disjoint_Set/bin/Debug/net6.0/ref/Disjoint_Set.dll
/Disjoint_Set/bin/Debug/net6.0/Disjoint_Set.dll
/Disjoint_Set/obj/Debug/net6.0/ref/Disjoint_Set.dll
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.dll
/Disjoint_Set/bin/Debug/net6.0/Disjoint_Set.exe
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.GeneratedMSBuildEditorConfig.editorconfig
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.genruntimeconfig.cache
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.GlobalUsings.g.cs
/Disjoint_Set/bin/Debug/net6.0/Disjoint_Set.pdb
/Disjoint_Set/obj/Debug/net6.0/Disjoint_Set.pdb
/Disjoint_Set/bin/Debug/net6.0/Disjoint_Set.runtimeconfig.json
/.idea/.idea.Algo_Training/.idea/encodings.xml
/.idea/.idea.Algo_Training/.idea/indexLayout.xml
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.AssemblyInfo.cs
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.AssemblyInfoInputs.cache
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.assets.cache
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.csproj.AssemblyReference.cache
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.csproj.CoreCompileInputs.cache
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.csproj.FileListAbsolute.txt
/Number_of_Provinces/obj/Number_of_Provinces.csproj.nuget.dgspec.json
/Number_of_Provinces/obj/Number_of_Provinces.csproj.nuget.g.props
/Number_of_Provinces/obj/Number_of_Provinces.csproj.nuget.g.targets
/Number_of_Provinces/bin/Debug/net6.0/Number_of_Provinces.deps.json
/Number_of_Provinces/bin/Debug/net6.0/ref/Number_of_Provinces.dll
/Number_of_Provinces/bin/Debug/net6.0/Number_of_Provinces.dll
/Number_of_Provinces/obj/Debug/net6.0/ref/Number_of_Provinces.dll
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.dll
/Number_of_Provinces/bin/Debug/net6.0/Number_of_Provinces.exe
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.GeneratedMSBuildEditorConfig.editorconfig
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.genruntimeconfig.cache
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.GlobalUsings.g.cs
/Number_of_Provinces/bin/Debug/net6.0/Number_of_Provinces.pdb
/Number_of_Provinces/obj/Debug/net6.0/Number_of_Provinces.pdb
/Number_of_Provinces/bin/Debug/net6.0/Number_of_Provinces.runtimeconfig.json
/Disjoint_Set/obj/project.assets.json
/Number_of_Provinces/obj/project.assets.json
/Disjoint_Set/obj/project.nuget.cache
/Number_of_Provinces/obj/project.nuget.cache
/Disjoint_Set/obj/project.packagespec.json
/Number_of_Provinces/obj/project.packagespec.json
/Disjoint_Set/obj/rider.project.restore.info
/Number_of_Provinces/obj/rider.project.restore.info
/.idea/.idea.Algo_Training/.idea/vcs.xml
